

#cc-product {
  .product {
    padding: 100px 0;

    h1 {
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 50px;
      font-weight: 300;
      color: $product-title-1;
      letter-spacing: 1px;
    }

    h2 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 30px;
      font-weight: 400;
      color: $product-title-2;
      letter-spacing: 1px;
    }

    p, a {
      line-height: 33px;
      letter-spacing: 1px;
      font-weight: 300;
      font-size: 18px;
      color: $product-title-3;
    }

    a {
      font-weight: 600;
      text-decoration: none;
      text-transform: capitalize;
      &:hover {
        text-decoration: none;
      }
    }
  }
}