
#subscribers {
  background: $subscribers-bg;
  padding: 100px;
  margin-top: 100px;
  text-align: center;
  @media only screen and (max-width: 767px) {
    padding: 50px 10px;;
    margin-top: 10px;
  }
  .subscribers-header {
    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 30px;
    }
  }

  .subscribers-body {
    border-radius: 5px;
    margin: 0 auto;
    max-width: 500px;
    span {
      font-size: 18px;
      color: $subscribers-body-color;
      animation: modalComeIn .7s cubic-bezier(0.4, 0, 1, 1);
      -moz-animation: modalComeIn .7s cubic-bezier(0.4, 0, 1, 1);
      -webkit-animation: modalComeIn .7s cubic-bezier(0.4, 0, 1, 1);
    }

    .subscribe-email {
      width: 70%;
      display: inline-block;
      height: 50px;
      vertical-align: bottom;
      color: $subscribe-email-color;
      font-size: 18px;
      background: $subscribe-email-bg;
      box-shadow: 0.5625rem 0.6875rem 3.0625rem 0 rgba(78, 98, 117, .2);
      border: 0;
      @media only screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    label {
      display: block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 500;
      position: absolute;
      font-size: 16px;
      color: $subscribe-email-label;
      animation: modalComeIn .7s cubic-bezier(0.4, 0, 1, 1);
      -moz-animation: modalComeIn .7s cubic-bezier(0.4, 0, 1, 1);
      -webkit-animation: modalComeIn .7s cubic-bezier(0.4, 0, 1, 1);
    }

    .mail-subscribe {
      width: 28%;
      color: $mail-subscribe-color;
      font-size: 18px;
      padding: 6px 10px;
      box-shadow: 0.5625rem 0.6875rem 3.0625rem 0 rgba(78, 98, 117, .2);
      height: 50px;
      // background: $mail-subscribe-bg;
      background: linear-gradient(45deg,#1557d0,#275fd2,#003aa2);
      @media only screen and (max-width: 767px) {
        width: 100%;
      }
      &:hover, &:active, &:focus {
        opacity: 0.8;
        outline: none;
      }
    }
  }
}

@-webkit-keyframes modalComeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  65.5% {
    -moz-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}