<section id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="faq-title text-center">
                    <h2>Frequently Asked Questions</h2>
                    <p>For any pricing questions, contact us at any time at <b>sales@appscode.com</b></p>
                </div>
                <div class="faq-area">
                    <ul>
                        <li>
                            <div class="faq-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                 href="#collapseOne">
                                What is an active user?
                            </div>
                            <div id="collapseOne" class="faq-body panel-collapse collapse">
                                Someone who can log into AppsCode or access their git repositories.
                            </div>
                        </li>
                        <li>
                            <div class="faq-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                 href="#collapseTwo">
                                What types of payment do you accept?
                            </div>
                            <div id="collapseTwo" class="faq-body panel-collapse collapse">
                                Any international credit card (Visa, MasterCard, American Express) and PayPal.
                            </div>
                        </li>
                        <li>
                            <div class="faq-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                 href="#collapseThree">
                                Will I be charged when I sign up?
                            </div>
                            <div id="collapseThree" class="faq-body panel-collapse collapse">
                                No. You do not need a credit card during trial period.
                            </div>
                        </li>
                        <li>
                            <div class="faq-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                 href="#collapsefour">
                                Can I change my plan at a later time?
                            </div>
                            <div id="collapsefour" class="faq-body panel-collapse collapse">
                                Yes! You can upgrade or reduce your plan at any time from your AppsCode billing
                                dashboard.
                            </div>
                        </li>
                        <li>
                            <div class="faq-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                 href="#collapsefive">
                                Where can I get help learn about AppsCode?
                            </div>
                            <div id="collapsefive" class="faq-body panel-collapse collapse">
                                You can get help from Learn and Community section of the AppsCode website. We also
                                provider paid online training courses.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>





