<section id="social">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="social-list">
                    <ul>
                        <li>
                            <a target="_blank" href="{{.Site.Params.issues_url}}">
                                <img src="/images/github.svg">
                                <div class="social-name">
                                    <h4>Issues</h4>
                                    <p>GitHub</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="{{.Site.Params.slack_url}}">
                                <img src="/images/slack.svg">
                                <div class="social-name">
                                    <h4>Chat</h4>
                                    <p>slack</p>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="{{.Site.Params.twitter_url}}">
                                <img src="/images/twitter.svg">
                                <div class="social-name">
                                    <h4>twitter</h4>
                                    <p>@KubePack</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>