
<section id="subscribers">
    <div class="subscribers-header">
        <h2>Subscribe to our free technical newsletter!</h2>
        <p>Join thousands of subscribers and stay up-to-date on AppsCode.</p>
    </div>

    <!--
    <div class="subscribers-body">
        <span class="hidden" role="ack"></span>
        <form class="navbar-form" role="email">
            <input type="email" name="email-subscribe" required class="form-control subscribe-email" placeholder="Your work email address">
            <button type="submit" class="btn mail-subscribe">Subscribe</button>
        </form>
    </div>
    -->

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup" class="subscribers-body">
        <span class="hidden" role="ack"></span>
        <form action="https://appscode.us17.list-manage.com/subscribe/post?u=feb2bf31969a951e7449048a3&amp;id=82fb19acb9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="navbar-form" target="_blank" novalidate role="email" role="email">
            <div id="mc_embed_signup_scroll" class="subscribers-email">
                <input id="mce-EMAIL" type="email" name="EMAIL" required class="form-control subscribe-email navbar-form" placeholder="Your work email address" required>
                <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="btn mail-subscribe">Subscribe</button>
            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->
</section>
