{{ partial "header.html"}}

<section id="page-not-pound">
    <div class="container">
        <div class="col-lg-12 text-center">
            <div class="pagenotpound-img">
                <img src="/images/404.png">
            </div>
            <div class="text-page-not">
                <h2>Ooh! Looks like YOU are in Trouble...</h2>
                <p>The page you are looking for was moved, removed, renamed or might have never existed.</p>
            </div>
            <a class="btn btn-success back-home" href="/"> BACK TO HOME PAGE</a>
        </div>
    </div>
</section>
