{{ partial "header.html" . }}
<section id="top-header">
   {{ partial "menu.html" . }}
   <div class="text-center header">
      <h1>Kubepack</h1>
      <p>Secure Lightweight Kubernetes Package Manager</p>
   </div>
</section>

   <section id="video-area">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="video text-center">
                 <!-- if you want to Show player controls used this link --> 
                 <iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/CuQ6qvVBb0g?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

                 <!-- if you don't want to Show player controls used this link --> 
                 <!-- <iframe width="100%" height="400" src="https://www.youtube.com/embed/CuQ6qvVBb0g?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="get-installation">
      <div class="container">
         <div class="row">
            <div class="col-md-4">
               <div class="installation-content">
                  <h2>Quick installation</h2>
                  <P>
                    Download pre-built binaries from <a href="https://github.com/kubepack/pack/releases">kubepack/pack Github releases</a>
                    and put the binary to some directory in your `PATH`. <a href="https://github.com/kubepack/pack/blob/master/docs/install.md" target="_blank" role="button">Learn more</a>
                  </P>
               </div>
            </div>
            <div class="col-md-8">
               <div class="installation-pre-area">
                  <ul class="nav nav-tabs tab-install" role="tablist">
                     <li class="active"><a href="#linux" aria-controls="linux" data-toggle="tab">Linux</a></li>
                     <li><a href="#mac" aria-controls="mac" data-toggle="tab">Mac</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content tab-install-data">
                     <div class="tab-pane active" id="linux">
                        <textarea class="installation-pre-code">
$ wget -O kubedb https://github.com/kubepack/pack/releases/download/0.7.1/kubedb-linux-amd64 \
  && chmod +x kubedb \
  && sudo mv kubedb /usr/local/bin/

$ kubedb init</textarea>
                     </div>
                     <div class="tab-pane" id="mac">
                        <textarea class="installation-pre-code">
$ wget -O kubedb https://github.com/kubepack/pack/releases/download/0.7.1/kubedb-darwin-amd64 \
  && chmod +x kubedb \
  && sudo mv kubedb /usr/local/bin/

$ kubedb init</textarea>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>


<section>
   <div class="con"></div>
</section>



<section id="configuration">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <div class="getting-started">
               <a href="#">
                  <div class="cc-icon">
                      <img src="/images/PostgreSQL.svg">
                  </div>
                  <div class="cc-content">
                     <h3>PostgreSQL</h3>
                     <p>This tutorial will show you how to use Kubepack to run a PostgreSQL database.</p>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-4">
            <div class="getting-started">
               <a href="#">
                  <div class="cc-icon">
                     <img src="/images/elasticsearch.svg">
                  </div>
                  <div class="cc-content">
                     <h3>Elasticsearch</h3>
                     <p>This tutorial will show you how to use Kubepack to run an Elasticsearch database.</p>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-4">
            <div class="getting-started">
               <a href="#">
                  <div class="cc-icon">
                     <img src="/images/logo-moscot.svg">
                  </div>
                  <div class="cc-content">
                     <h3>CLI</h3>
                     <p>This tutorial will show you how to use Kubepack cli to manage Kubepack objects.</p>
                  </div>
               </a>
            </div>
         </div>

         <div class="col-md-4">
            <div class="getting-started">
               <a href="#">
                  <div class="cc-icon">
                     <img src="/images/prometheus.svg">
                  </div>
                  <div class="cc-content">
                     <h3>Prometheus</h3>
                     <p>This tutorial will show you how to monitor Kubepack databases.</p>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-md-4">
            <div class="getting-started">
               <a href="#">
                  <div class="cc-icon">
                     <img src="/images/kubernets.svg">
                  </div>
                  <div class="cc-content">
                     <h3>RBAC</h3>
                     <p>This tutorial will show you how to use Kubepack in a RBAC enabled cluster.</p>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>


<div style="margin-top: 100px;"></div>



<!-- <script>
$('.navbar').affix({
    offset:{
        top: $('#header').outerHeight(),
        bottom: $('#header').outerHeight() - 200
    }
});

$('#sidemenu').affix({
    offset:{
        top: $('#header').outerHeight(),
        bottom: $('footer').outerHeight() + 50
    }
});

</script> -->
{{ partial "footer.html" .}}