
#video-area {
  // margin:0 0 100px;
  margin: 0;
  top: -150px;
  position: relative;
  .video {
    background: $video-bg;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    box-shadow: $video-shadow;
    border-radius: 6px;
    overflow: hidden;
    @media(max-width: 680px) {
      width: 100%;
      height: auto;
    }
  }
}

.get-installation {
  margin: 0 0 100px 0;
  .installation-content {

  }

  .installation-pre-area {
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    height: 200px;
    border: 1px solid #ddd;
    // box-shadow:0 20px 60px -10px rgba(220, 214, 214, 0.4);
    .tab-install-data {
      pre.installation-pre-code {
        border: 0;
        width: 100%;
        height: 200px;
        font-family: monospace;
        font-size: 13px;
        padding: 20px;
        line-height: 22px !important;
        
        color: #424770;
        &:focus, &:active{
          border: 0;
          outline: none;
        }
      }
    }
    ul.tab-install {
      margin: 0;
      padding: 10px 20px;
      // border: 0;
      // box-shadow: 1px 5px 20px -5px rgba(220,214,214,.2);
      li {
        margin-bottom: 0px;
        a {
          border: 0;
          margin-right: 20px;
          padding: 5px 10px;
          text-decoration: none;
          font-size: 14px;
          font-weight: 600;
          &:hover, &:active, &:focus {
            border: 0;
            padding: 5px 10px;
            font-size: 14px;
            font-weight: 600;
            border-radius: 3px;
            color: #fff;
            background: linear-gradient(45deg, #1557d0,#275fd2,#003aa2);
            will-change: transform;
            text-decoration: none;
            transform-origin: 50% 0;
            transition: transform .3s cubic-bezier(.165,.84,.44,1);
          }
          &.active{
            border: 0;
            font-size: 14px;
            font-weight: 600;
            padding: 5px 10px;
            border-radius: 3px;
            background: linear-gradient(45deg, #1557d0,#275fd2,#003aa2);
            color: #fff;
            text-decoration: none;
            will-change: transform;
            transform-origin: 50% 0;
            transition: transform .3s cubic-bezier(.165,.84,.44,1);
          }
        }

        &.active {
          >a {
            border: 0;
            padding: 5px 10px;
            border-radius: 3px;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            background: linear-gradient(45deg, #1557d0,#275fd2,#003aa2);
            will-change: transform;
            text-decoration: none;
            transform-origin: 50% 0;
            transition: transform .3s cubic-bezier(.165,.84,.44,1);
            &:hover, &:active, &:focus {
              border: 0;
              font-size: 14px;
              font-weight: 600;
              padding: 5px 10px;
              border-radius: 3px;
              background: linear-gradient(45deg, #1557d0,#275fd2,#003aa2);
              color: #fff;
              text-decoration: none;
              will-change: transform;
              transform-origin: 50% 0;
              transition: transform .3s cubic-bezier(.165,.84,.44,1);
            }
          }
        }
      }
    }
  }
}

#configuration {
  padding: 50px 0;
  .getting-started {
    box-shadow:$configuration-shadow ;
    background: $configuration-bg;
    padding: 20px 30px;
    margin: 15px 0;
    border-radius: 6px;
    a {
      text-decoration: none;
      .cc-icon {
        width: 18%;
        vertical-align: top;
        display: inline-block;
        padding-right: 15px;
      }
      .cc-content {
        width: 80%;
        display: inline-block;
        h3 {
          margin-bottom: 10px;
          margin-top: 0;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

