.article {
  h1 {
    font-size: 36px;
    line-height: 45px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
    line-height: 22px;
  }

  a {
    font-weight: 400;
    color: #2a60d3;
    text-decoration: none;
    i {
      color: #898989;
      font-size: 16px;
    }
    &:hover {
      text-decoration: none;
      color: #2a60d3;
    }
    &.services-btn {
      background: #2a60d3;
      padding: 8px 10px;
      color: #fff;
      border-radius: 3px;
    }
  }

  btn {
    background: #eaeaea;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 4px;
    font-weight: 400;
    font-size: 16px;
    margin: 3px;
  }

  code {
    color: #152b56;
    font-size: 14.72px;
    line-height: 23px;
    border-radius: 4px;
    border-width: 0;
    text-transform: none;
    font-style: normal;
    font-weight: 400;
    box-shadow: none;
    text-shadow: none;
    background: repeat-x #f7f7f7;
    // display: inline-block;
    word-wrap:break-word;
    // white-space: pre;
    padding: 0 6.4px;
  }

  pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    white-space: pre;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
  }

  pre {
    color: #152b56;
    border-radius: 5px;
    overflow-x: auto;
    font-size: 13.2px;
    line-height: 19.2px;
    padding: 10px;
    background: repeat-x #f7f7f7;
    box-shadow: none;
     font-family: Menlo,'Bitstream Vera Sans Mono','DejaVu Sans Mono',Monaco,Consolas,monospace;
    text-transform: none;
    font-style: normal;
    font-weight: 400;
    white-space: pre;
    text-shadow: none;
    span {
      background: transparent !important;
    }
  }

  blockquote {
    padding: 0px 10px;
    background: #fcfcfc;
    border-left: 5px solid #C8E6C9;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    margin-bottom: 20px;
    thead {

      tr {
        background-color: #fff;
        border-top: 1px solid #c6cbd1;
        th {
          padding: 6px 13px;
          border: 1px solid #dfe2e5;
        }
      }
    }

    tbody {
      tr {
        background-color: #fff;
        border-top: 1px solid #c6cbd1;

        &::nth-child(2n){
          background-color: #f6f8fa;
        }
        td {
          padding: 6px 13px;
          border: 1px solid #dfe2e5;
          a {
            color: #2a60d3;
            text-decoration: none;
          }
        }
      }
    }
  }

  span {
    margin-bottom: 7.2px;
    font-size: 14.72px;
    line-height: 18.4px;
    margin-top: 0;
    font-style: normal;
    color: #999da7;
    font-weight: 400;
  }

  hr {
    margin-top: 0;
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
  }

  img {
    margin: 0;
    overflow: hidden;
    height: auto;
    border-radius: 3px;
    display: inline-block;   
    
    &.services-banner{
      width: 500px;
      height: auto;
      float: left;
      padding-right: 50px;
    }
  }

  ul {
    padding: 0 0 0 30px ;
    margin: 20px 0;
  }

  ol li, ul li {
    font-size: 18px;
    color: #32325d;
    text-transform: none;
    text-shadow: none;
    line-height: 33px;
  }
}
