#top-header {
  height: 500px;
  background: url(/images/bg.svg) no-repeat scroll center center/cover border-box,-webkit-linear-gradient(45deg, #4949A3, #7272E9, #4d4dcb) no-repeat scroll center center/cover;
  .header {
    padding: 80px 0;

    h1 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 15px;
      font-weight: 700;
      color: #fff;
      text-transform: capitalize;
      letter-spacing: 1px;
    }

    > p {
      line-height: 33px;
      letter-spacing: 1px;
      font-weight: 500;
      font-size: 18px;
      color: #fff;
    }
  }
}
// inner-header

#inner-header {
  background: url(/images/bg.svg) no-repeat scroll center center/cover border-box,-webkit-linear-gradient(45deg,#4949a3,#7272e9,#4d4dcb) no-repeat scroll center center/cover;
  .header {
    padding: 80px 0;
    h1 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 15px;
      font-weight: 700;
      color: #fff;
      text-transform: capitalize;
      letter-spacing: 1px;
    }
    p {
      line-height: 33px;
      letter-spacing: 1px;
      font-weight: 500;
      font-size: 18px;
      color: $white;
    }
  }
}